body{
    text-align: center;
    margin: 10%;
}
input{
    width: 25%;
}
input[type=checkbox]
{
  transform: scale(2); /* Safari and Chrome */
  padding: 10px;
}
.statusBar{
    color: white;
    margin: 5%;
    border: 1px solid lightgray;
    border-radius: 15px;
    background: gray;
}