body{
    text-align: center;
    margin: 0 10% 10% 10%;
}
input{
    width: 25%;
}
input[type=checkbox]
{
  transform: scale(2);
  padding: 10px;
}
.statusBar{
    color: white;
    margin: 5%;
    border: 1px solid lightgray;
    border-radius: 15px;
    background: gray;
}

#student-container, #parent-container{
    border: 5px solid #428BCA;
    border-radius: 15px;
    padding: 1%;
    margin-bottom: 1%;
}